@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    min-height: 100vh;
}


body {
    display: grid;
    place-items: center;
    font-family: "League Spartan", system-ui, sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
    background-color: #212121;
    color: #ddd;
}

main {
    max-width: 75rem;
    /* background: red; */
    padding: 3em 1.5em;
}


.cards_inner {
    display: flex;
    gap: 1.25em

}

ul > li {
    list-style: none;
    margin-top: 0.7em;
}

ul > li::before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
    margin-right: 1ch;
}

.card_heading {
    font-size: 1.05em;
    font-weight: 700;
}


.card_price {
    font-size: 1.75em;
    font-weight: 700;
}

.card {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 1.25em;
    align-items: start;
    border: 1px solid #eceff133;
    border-radius: 10px;
    padding: 1.5em 2em ;
    gap: 1.25em;
    background-color: #2b2b2b;
    flex: 1 1 14rem;
}


.cta {
    align-self: end;
    display: block;
    background-color: #0d0d0d;
    text-decoration: none;
    color: #ddd;
    text-align: center;
    padding: 0.7em;
    border-radius: 10px;
    /* margin-top: 0.7em; */
}